@model UI.Areas.Admin.DTOS.CategoryDTO.UpdateCategoryDTO
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="wrapper">
	<div class="main-panel">
		<div class="content">
			<div class="container-fluid">
				<form method="post">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">Yeni yemək kateqoriyası</div>
								</div>
								<div class="card-body">
									<div class="form-group">
										<label for="Name">Ad</label>
										<input type="text" class="form-control" asp-for="Name" id="categoryName" placeholder="Kateqoriya adını daxil edin...">

									</div>
								</div>
								<div class="card-action text-center">
									<button type="submit" class="btn btn-primary">Yarat</button>
									<a asp-action="CategoryList" class="btn btn-success">Geri</a>
								</div>
							</div>
						</div>

					</div>
				</form>

			</div>
		</div>

	</div>
</div>

